.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--color-medium-grey);
  color: var(--color-light-red);
  font-size: 20px;
}

.footer p span {
  font-weight: 700;
}
