:root {
  --color-blue: #0a6abe;
  --color-dark-blue: #084b86;
  --color-ligth-grey: #f1f4f9;
  --color-grey: #f1f4f96e;
  --color-dark-grey: #313131;
  --font: "Geomanist", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-ligth-grey);
  font-family: var(--font);
  overflow: hidden;
}

h1 {
  font-size: 40px;
}

p {
  color: var(--color-dark-grey);
}

button,
input {
  padding: 0.6em 0.8em;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
}

button {
  cursor: pointer;
}
